.footer {
    background-color: #131921;
    color: white;
    width: 100%;
    bottom: 0px;
    position: relative;
    bottom: 0;
    height: 89px;
}
.scroll_to_top{
    float: right;
    margin-right: 5px;
    color: whitesmoke;
}