.header_logo{
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 8px;
    object-fit: contain;
}
.header{
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header_search{
    display: flex;
    flex: 1;
     position: sticky;
    top: 0;
    z-index: 100;
}
.headerSearchInput{
    display: flex;
    flex: 1;
    height: 12px;
    padding: 16px;
    border: none;
    width: 100px;
}
.headerSearchIcon{
    background-color: skyblue;
    padding: 2px;
    height: 32px !important;
}

.header_nav{
    display: flex;
    justify-content: space-evenly;
}
.header_option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.header_option_line1{
    font-size: 10px;
}
.header_option_line2{
    font-size: 13px;
    font-weight: 800;
}
.header_link{
    color: white;
    text-decoration: none;
}
.header_optionBasket{
    color: skyblue;
    display: flex;
    flex-direction: column;
    margin-top: 9px;
    margin-left: 10px;
    margin-right: 10px;
}